{% extends 'base.html' %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="previewPicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Picture Preview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center"  id="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>




<div class="text-center">
	<div class="spinner-border" role="status" id="spinner">
  <span class="visually-hidden" >Loading...</span>
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Picture</th>
      <th scope="col">Information</th>
   
    </tr>
  </thead>
  <tbody id="table-body-box">
    
  </tbody>
</table>
{% endblock %}